/ServerImagem/ServerImagem.dres
/ServerImagem/ServerImagem.identcache
/ServerImagem/ServerImagem.res
/ServerImagem/ServerImagem.stat
/ServerImagem/ServerImagem.dproj.local
/ServerImagem/Win32
/ServerImagem/*
/ClientImagem/HeaderFooterApplication.res
/ClientImagem/HeaderFooterApplication.stat
/ClientImagem/HeaderFooterApplication.dproj.local
/ClientImagem/HeaderFooterApplication.identcache
/ClientImagem/*
/ServerImagem/Win32/Debug/*.dcu
